aprilCameraCalibration {

    // MRE:   0.258 px MSE   0.104 px MaxRE   1.207 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 488;

        intrinsics {
            fc = [ 584.883120, 585.683185 ];
            cc = [ 321.452208, 241.062252 ];
            kc = [   0.143158,   1.147675,  -2.410411,   2.214786 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
