kinect {
    // Sensor calibration
    calib_rgb = "kinect_5_rgb.config";
    calib_ir = "kinect_5_ir.config";

    // Calibration w.r.t. the robot
    //calib_robot = "arm_kinect_calib.config";
    calib_robot = "mobile_kinect_calib.config";
}

robot {
    // Robot parameters
    arm = "arm.config";
    //calibration = "arm_calibration.cal";
}
