classes {
    // Perfectly detectable intersection
    c# {
        labels = ["intersection"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.

        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    // Perfectly detectable doors
    c# {
        labels = ["door"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [1, 2, 3, 4, 5, 6, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30];   // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.

        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp01"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [1];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp02"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [2];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp03"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [3];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp04"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [4];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp05"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [5];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp06"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [6];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp07"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [7];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp08"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [8];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp09"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [9];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp10"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [10];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp11"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [11];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp12"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [12];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp13"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [13];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp14"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [14];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp15"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [15];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp16"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [16];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp17"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [17];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp18"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [18];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp19"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [19];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp20"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [20];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp21"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [21];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp22"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [22];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp23"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [23];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp24"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [24];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp25"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [25];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp26"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [26];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp27"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [27];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp28"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [28];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp29"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [29];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    c# {
        labels = ["wp30"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [30];        // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.
        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }
}
