classes {
    // Perfectly detectable doors
    c# {
        labels = ["door"];  // Labels possible for this object.
        probs = [1.0];      // Probability of corresponding label
        ids  =  [86,87];    // Tag IDs with this model
        mean = 1.0;         // Deprecated but not removed. Always 1.0 right now
        stddev = 0.0;       // Deprecated but not removed. Always 0.0 right now.

        // These parameters alter when tag detections are reported.
        minRange = 1.0;     // Minimum range of fake decections.
        maxRange = 2.0;     // Maximum range of fake detections
    }

    // Some other object that often appears to be a door.
    c# {
        labels = ["door", ""];      // "" means we don't detect it as anything
        probs = [0.2, 0.8];         // For now, up to user to ensure probs sum to 1
        ids  =  [88];
        mean = 1.0;
        stddev = 0;

        minRange = 1.0;
        maxRange = 2.0;
    }

    // Unused feature right now...may actually be unsupported. Theoretically,
    // objects can have more than one characteristic. e.g. a green door. This
    // functionality may be broken after some changes to get other features up
    // and running.
    c# {
        labels = ["green"];
        probs = [1.0];
        ids = [87];
        mean = 1.0;
        stddev = 0.0;
        minRange = 1.9;     // In particular, how should range work for this?
        maxRange = 2.0;
    }
}
