// This file contains a list of all the processes which procman should
// run on the robot.

:process : object {
    host = "localhost";
    auto-restart = "true";
    restart-delay-ms = "500";
    auto-start = "true";
    name = "unknown";
}

// RobotDriver
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.robot.RobotDriver";
    name = "Robot Driver";
}

proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.robot.EspeakDaemon";
    name = "Espeak Daemon";
}

// Camera Driver
//proc# : process {
//    cmd = "$JAVA $JAVA_OPTS_64 probcog.camera.CameraDriver";
//    name = "Camera Driver";
//}

// AprilTag-based Classifier
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.classify.TagClassifier";
    name = "AprilTag Classifier";
}

// GamePadDriver
//proc# : process {
//    cmd = "$JAVA $JAVA_OPTS_64 april.util.GamePadDriver";
//    name = "GamePadDriver";
//}

// Soar Navigation Control
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.commands.CommandInterpreter";
    name = "Soar Command Controller";
}

// PIMU
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.pimu.PIMU -d /dev/pimu";
    name = "PIMU";
}

// PIMU Pose
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.pimu.PIMUPose";
    name = "PIMUPose";
}

// Hokuyo Driver
proc# : process {
    cmd = "$APRIL_HOME/bin/hokuyo --channel HOKUYO_LIDAR";
    name = "Hokuyo Driver";
}

// Hokuyo scanner
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.servo.Hokuyo3D";
    name = "Hokuyo 3D";
}

// Sweep handler to produce LASER messages from 3D scans
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.perception.SweepHandler";
    name = "Sweep Handler";
}

// Launch radio, in theory, at /dev/radio. Use sequence 4 arbitrarily, (MAGIC typically uses 6)
// XXX Need to change firmware back to US at some point...
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.radio.LCMXTend -i 6 -f AU -s 4";
    name = "LCMXTend";
}

// kinect
//proc# : process {
//    cmd = "$BIN_PATH/kinect";
//    name = "Kinect Driver";
//}

// obstacles
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.perception.ObstacleMap";
    name = "Obstacle Map";
}
